/* General Styles */
body, html {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333333;
}

.content {
    text-align: center;
    max-width: 80%;
    margin: auto;
}

/* About Me Section */
.about-me {
    margin-top: 50px;
}

.austinIMG {
    max-width: 300px;
    height: auto;
}

/* Contact Section */
.contact {
    margin-top: 50px;
}

.contact ul {
    list-style: none;
    padding: 0;
}

.contact li {
    margin-bottom: 10px;
}

.contact a {
    color: #007BFF;
    text-decoration: none;
}

.contact a:hover {
    text-decoration: underline;
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {

}

/* Tablet Styles */
@media only screen and (min-width: 601px) and (max-width: 900px) {

}

/* Desktop Styles */
@media only screen and (min-width: 901px) {

}
