html {
    background-color: #F2E9D7;
}

h1, h2, h3, .navbar, .button, .cta {
    font-family: "Outfit", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.bodytext, .secondtext, .footertext {
    font-family: "Roboto", system-ui;
    font-weight: 400;
    font-style: normal;
}

.navbar {
    display: flex;
    justify-content: center;
    font-size: 1.125rem;
    background-color: #4F6C99;
    border-radius: 20px;
    width: 60%;
    height: 40px;
    margin: 30px auto 0 auto;
    align-items: center;
    overflow: hidden;
}

.navbar ul {
    display: flex;
    width: 100%;
    padding: 20px;
}

.navbar li {
    list-style-type: none;
}

.navbar a {
    text-decoration: none;
    color: #F2E9D7;
}

.active a {
    background-color: #F2E9D7;
    color: #4F6C99;
    border-radius: 20px;
    padding: 1px 10px;
}

.logo {
    margin-right: auto;
}

.navlink {
    margin: 0 20px;
    justify-content: space-between;
}

.navcirc {
    padding: 0 2px;
}

.circ {
    color: #4F6C99;
    background-color: #F2E9D7;
    padding: 5px 8px;
    border-radius: 50%;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 0;
    width: 70%;
    margin-top: 100px;
}

.text-content {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 50px;
}

.name {
    color: #4F6C99;
    font-size: 4rem;
    font-weight: bold;
    margin: 0;
}

.tagline {
    color: #222222;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
}

.graphic {
    width: 600px;
}
