:root {
  --color-white: #ffffff;
  --color-lightblue: #8ab2d4;
  --font-jura: "Jura", sans-serif;
}

html, body {
  cursor: crosshair;
}

body {
  background-color: hsla(330, 0%, 5%, 1);
  background-image: 
  radial-gradient(at 80% 80%, hsla(240, 75%, 34%, 1) 0px, transparent 50%),
  radial-gradient(at 26% 70%, hsla(262, 20%, 34%, 1) 0px, transparent 50%),
  radial-gradient(at 77% 18%, hsla(240, 38%, 34%, 1) 0px, transparent 50%),
  radial-gradient(at 6% 8%, hsla(240, 45%, 34%, 1) 0px, transparent 50%);
  background-attachment: fixed;
  font-family: var(--font-jura);
  color: var(--color-lightblue);
}

.home {
  position: fixed;
  top: 2%;
  left: 2%;
  font-size: 1.5em;
  text-decoration: none;
  color: var(--color-lightblue);
}

.home:hover {
  cursor: crosshair;
  color: var(--color-white);
  transition: color 0.5s;
}

.sites {
  position: fixed;
  right: 2%;
  font-size: 1.5em;
}

.sites ul {
  display: flex;
  list-style-type: none;
}

.sites a {
  color: var(--color-lightblue);
  margin-left: 15px;
}

.sites a:hover {
  cursor: crosshair;
  color: var(--color-white);
  transition: color 0.5s;
}

.navbar {
  position: fixed;
  bottom: 2%;
  right: 2%;
  font-size: 1.5em;
}

.navbar ul {
  display: flex;
  list-style-type: none;
}

.navbar a {
  color: var(--color-lightblue);
  text-decoration: none;
}

.navbar a:hover {
  cursor: crosshair;
  color: var(--color-white);
  transition: color 0.5s;
}

.active a {
  color: var(--color-white);
}

.hello {
  position: fixed;
  top: 50%;
  left: 50%;
}

/* about */

.about {
  position: fixed;
  top: 50%;
  left: 50%;
  right: 20%;
}

.austin {
  width: 500px;
  height: 500px;
  position: fixed;
  bottom: 25%;
  left: 15%;
  animation: rotatingBorderRadius 6s linear infinite;
  box-shadow: 0 0 100px 1px hsl(0, 0%, 100%, 0.1);
}

/* Keyframes for rotating border-radius */
@keyframes rotatingBorderRadius {
  0% {
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  }
  25% {
    border-radius: 60% 40% 50% 50% / 50% 70% 30% 50%;
  }
  50% {
    border-radius: 40% 60% 60% 40% / 60% 40% 50% 70%;
  }
  75% {
    border-radius: 50% 50% 40% 60% / 70% 50% 50% 30%;
  }
  100% {
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  }
}

/* portfolio */


/* contact */


/* media queries */

@media (max-width: 1200px) {
  /* Styles for screens smaller than 1200px (large devices) */
}

@media (max-width: 992px) {
  /* Styles for screens smaller than 992px (medium devices) */
}

@media (max-width: 768px) {
  /* Styles for screens smaller than 768px (tablets) */
}

@media (max-width: 576px) {
  /* Styles for screens smaller than 576px (mobile devices) */
}