:root {
  /* Colors */
  --rose-800: #7A284E;
  --rose-50: #FFF7FB;
  
  --stone-900: #312E2C;
  --stone-600: #5F564D;
  --stone-150: #E3DDD7;
  --stone-100: #F3E5D7;
  
  --brown-800: #854632;
  
  --white: #FFFFFF;
  
  /* Spacing */
  --spacing-1600: 8rem; /* 128px */
  --spacing-600: 3rem; /* 48px */
  --spacing-500: 2.5rem; /* 40px */
  --spacing-400: 2rem; /* 32px */
  --spacing-300: 1.5rem; /* 24px */
  --spacing-200: 1rem; /* 16px */
  --spacing-150: 0.75rem; /* 12px */
  --spacing-100: 0.5rem; /* 8px */
}

.text-preset-1 {
  font: 400 2.5rem/100% "Young Serif", sans-serif;
  color: var(--stone-900);
}

.text-preset-2 {
  font: 400 1.75rem/100% "Young Serif", sans-serif;
  color: var(--brown-800);
}

.text-preset-3 {
  font: 600 1.25rem/100% "Outfit", sans-serif;
  color: var(--rose-800);
}

.text-preset-4 {
  font: 400 1rem/150% "Outfit", sans-serif;
  color: var(--stone-600);
}

.text-preset-4-bold {
  font: 700 1rem/150% "Outfit", sans-serif;
  color: var(--stone-600);
}

body {
  background-color: var(--stone-100);
}

ul, ol {
  list-style-position: inside;
}

ul > li::marker {
  color: var(--rose-800);
  font-size: var(--spacing-150);
}

ol > li::marker {
  color: var(--rose-800);
  font: 700 1rem/150% "Outfit", sans-serif;
}

li {
  margin-bottom: var(--spacing-100);
  padding-left: var(--spacing-100);
}

li > span {
  padding-left: var(--spacing-200);
}

li:nth-last-of-type(1) {
  margin-bottom: 0;
}

.container {
  display: flex;
  justify-content: center;
  margin: var(--spacing-1600) var(--spacing-600);
}

.card {
  background-color: var(--white);
  max-width: 736px;
  padding: clamp(2rem, 1.823943661971831rem + 0.7511737089201878vw, 2.5rem);
  border-radius: var(--spacing-300);
}

.image-omelette {
  border-radius: var(--spacing-150);
  margin-bottom: var(--spacing-500);
}

.card-content {
  display: grid;
  gap: var(--spacing-400);
}

.header {
  display: grid;
  gap: var(--spacing-300);
}

.subcard {
  background-color: var(--rose-50);
  padding: var(--spacing-300);
  display: grid;
  gap: var(--spacing-200);
  border-radius: var(--spacing-300);
}

h2 {
  margin-bottom: var(--spacing-300);
}

.separator {
  background-color: var(--stone-150);
  width: 100%;
  height: 0.0625rem;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  margin-top: var(--spacing-300);
}

tr:nth-child(1) > td {
  border-bottom: 0.0625rem solid var(--stone-150);
  padding: 0 0 var(--spacing-150) var(--spacing-400);
}

tr > td {
  border-bottom: 0.0625rem solid var(--stone-150);
  padding: var(--spacing-150) 0 var(--spacing-150) var(--spacing-400);
}

tr > td:nth-child(2) {
  padding: 0 var(--spacing-400) 0 var(--spacing-200);
}

tr:nth-last-child(1) > td {
  border-bottom: none;
  padding-bottom: 0;
}

tr > td:nth-child(2) {
  color: var(--brown-800);
}

@media (max-width: 375px) {
  .container {
    margin: 0;
  }

  .card {
    border-radius: 0;
  }

  figure {
    margin: -2rem -2rem 0 -2rem;
  }

  .image-omelette {
    border-radius: 0;
  }

  .header h1 {
    font: 400 2.25rem/100% "Young Serif", sans-serif;
  }
}