/* General reset */
html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
html {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font settings */
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
}

.navBar, .navBar .nav-link, .dropdown .dropbtn, .dropdown-content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* General content styles */
.content {
    flex: 1;
    padding: 0 20px;
    margin-top: 30px; 
}

.content-section {
    margin: auto;
    max-width: 80%;
}

.content-section h1,
.content-section h2,
.content-section h3,
.content-section h4,
.content-section p,
.content-section a,
.content-section li {
    color: #6B705C;
    text-align: left; 
    font-size: 18px;
}

.content-section h1 {
    text-align: center;
    margin-bottom: 40px; 
    font-size: 24px;
    font-weight: bold;
}

.content-section h2,
.content-section h3,
.content-section h4 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 24px;
    color: #6B705C;
    font-weight: bold;
}

/* Content Links */
.icon-links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 20px;
    justify-items: center;
    margin-top: 20px;
}

.content-link {
    color: #6B705C;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: color 0.3s;
}

.content-link i {
    font-size: 40px;
    margin-bottom: 10px;
}

.content-link:hover {
    color: #2b2b2b;
}

.book-link.content-link {
    margin-top: 30px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ECCDB5;
}

.book-link.content-link i {
    font-size: 40px;
    margin-bottom: 10px;
}

.book-link.content-link span {
    font-size: 18px;
}

.book-link.content-link:hover {
    color: #D9B382;
    text-decoration: underline;
}

/* navBar Styles */
.navBar {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #6B705C;
    padding: 20px 20px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 1000;
}

.navBar .logo {
    height: 35px;
    margin-right: 20px;
}

.nav-links {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-links li {
    margin-right: 20px;
}

.nav-link {
    text-decoration: none;
    color: #f2f2f2;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-links {
    margin-left: auto;
}

.nav-links .active {
    text-decoration: underline;
}

.nav-links li:hover .nav-link {
    text-decoration: underline;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f2f2f2;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #f2f2f2;
    padding: 10px 0;
    background-color: inherit;
    font-family: inherit; 
    margin: 0; 
}

.dropdown-content a {
    float: none;
    color: #6B705C;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: color 0.3s, text-decoration 0.3s;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    text-decoration: underline;
    color: #6B705C;
}

.book-link {
    text-decoration: none;
    background-color: #ECCDB5;
    color: #2b2b2b;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #ECCDB5;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    text-align: center;
}

.book-link:hover {
    background-color: #D9B382;
    color: #2b2b2b;
    border: 2px solid #D9B382;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

/* Hero Section */
.index-hero,
.services-hero,
.skincare-hero,
.waxing-hero,
.other-hero,
.addon-hero,
.shop-hero,
.contact-hero {
    flex-shrink: 0;
    background-size: cover;
    background-position: center center;
    height: 30vh;
    width: 100%;
    margin-top: 80px; 
}

.index-hero {
    background-image: url('images/indexHero.png');
}

.services-hero {
    background-image: url('images/servicesHero.png');
}

.shop-hero {
    background-image: url('images/shopHero.png');
}

.contact-hero {
    background-image: url('images/contactHero.png');
}

.skincare-hero {
    background-image: url('images/skincareHero.png');
}

.waxing-hero {
    background-image: url('images/waxingHero.png');
}

.other-hero {
    background-image: url('images/otherHero.png');
}

.addon-hero {
    background-image: url('images/addonHero.png');
}

/* Services Main */
.services-main-content, .services-main-container, .service {
    width: 100%;
}

.services-main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
}

.service-main {
    position: relative;
    flex: 1 0 21%;  
    text-align: center;
    margin: 10px;  
    box-sizing: border-box;  
}

.service-main a {
    display: block;
    height: 100%;
}

.service-main img {
    width: 100%;
    transition: transform 0.3s ease; 
}

.service-main:hover img {
    transform: scale(1.1); 
}

.text-overlay {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center;
    color: #f2f2f2;
    font-size: 18px;
    background: rgba(107, 112, 92, 0.7); 
    padding: 10px 0;
}

/* About */
img.piper {
    display: block;
    margin: auto; 
    width: 80%;
    padding: 20px 0;
    border-radius: 30% 70% 71% 29% / 30% 30% 70% 70% ;
}

.aboutMe p {
    display: block;
    text-align: center;
    font-size: 1.5rem; 
    width: 75%;
    margin: auto;
    line-height: 1.5;
}

/* Services Sub - No Grid, No Tiles, Horizontal Line Separation - great for mobile */
.services-sub-content {
    width: 80%;
    margin: auto;
}

.services-sub-container {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.service-sub {
    margin-bottom: 20px; 
    padding-bottom: 20px; 
    border-bottom: 1px solid #6B705C; 
}

.service-sub:last-child {
    border-bottom: none; 
}

.service-sub h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.service-sub .description {
    margin-bottom: 10px;
}

.service-sub .more-description {
    display: none;
}

.view-more {
    background-color: #6B705C;
    color: #f2f2f2;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s;
}

.view-more:hover {
    background-color: #2b2b2b;
}

.book-link-sub {
    background-color: #6B705C;
    color: #f2f2f2;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s;
    text-decoration: none; 
    display: inline-block; 
    margin-left: 10px; 
}

.book-link-sub:hover {
    background-color: #2b2b2b;
}

/* Footer Styles */
.footer {
    background-color: #6B705C;
    color: #f2f2f2;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: none;
    margin: 0 auto;
}

.footer-logo img {
    width: 500px;
    margin-bottom: 20px;
}

.footer-info {
    text-align: center;
}

.footer-social {
    margin-bottom: 20px;
}

.footer-social p {
    display: inline;
    color: #f2f2f2;
    font-size: 16px;
    margin-right: 10px;
}

.footer-social a {
    color: #f2f2f2;
    margin: 0 10px;
    font-size: 25px;
    vertical-align: middle;
    transition: color 0.3s;
}

.footer-social a:hover {
    color: #D9B382;
}

.footer-address, .footer-phone {
    margin-bottom: 20px; 
}

.footer-address a, .footer-phone a {
    color: #f2f2f2;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-address a:hover, .footer-phone a:hover {
    color: #D9B382;
}

.back-to-top {
    margin-top: 20px;
}

.back-to-top a {
    color: #f2f2f2;
    text-decoration: none;
    transition: color 0.3s;
}

.back-to-top a:hover {
    color: #D9B382;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
}

/* Small Devices (mobile) */
@media (max-width: 819px) {
    .content {
        margin: 0 !important;
    }

    .content-section {
        padding: 0 !important;
    }

    .off-screen-menu {
        background-color: #6B705C;
        height: 100vh;
        width: 100%;
        max-width: 100%;
        position: fixed;
        top: 0;
        right: -100%;
        display: flex;
        flex-direction: column;
        align-items: center;    
        justify-content: center;
        text-align: center;
        font-size: 3rem;
        transition: .3s ease;
        z-index: 1000;
    }
    .off-screen-menu.active {
        right: 0;
    }
    
    .off-screen-menu .active {
        text-decoration: underline;
        color: #ECCDB5;
    }
    
    .off-screen-menu ul {
        padding: 0;
        list-style-type: none;
    }
    .off-screen-menu li:not(:last-child) {
        margin: 20px 0;
    }
    
    .off-screen-menu li:not(:last-child) a {
        text-decoration: none;
        color: #ECCDB5;
    }
    
    .mobile-navBar {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #6B705C;
    }
    
    .mobile-navBar .logo-link {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .mobile-navBar .logo {
        height: 35px;
    }
    
    .ham-menu {
        height: 50px;
        width: 40px;
        position: relative;
        z-index: 1000;
    }
    .ham-menu span {
        height: 5px;
        width: 100%;
        background-color: #ECCDB5;
        border-radius: 25px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: .3s ease;
    }
    .ham-menu span:nth-child(1) {
        top: 25%;
    }
    .ham-menu span:nth-child(3) {
        top: 75%;
    }
    .ham-menu.active span {
        background-color: white;
    }
    .ham-menu.active span:nth-child(1) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }
    .ham-menu.active span:nth-child(2) {
        opacity: 0;
    }
    .ham-menu.active span:nth-child(3) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    
    .icon-links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        justify-items: center;
        align-items: center;
        width: 100%;
    }
    
    .icon-links > * {
        padding: 30px;
        text-align: center;
    }
    
    .navBar {
        display: none;
    }
    
    .index-hero,
    .services-hero,
    .skincare-hero,
    .waxing-hero,
    .other-hero,
    .addon-hero,
    .shop-hero,
    .contact-hero {
        max-width: 100%;
        height: 25vh;
        margin-top: 0px;
    }
    
    .index-hero img,
    .services-hero img,
    .skincare-hero img,
    .waxing-hero img,
    .other-hero img,
    .addon-hero img,
    .shop-hero img,
    .contact-hero img {
        max-width: 100%;
        height: auto;
    }
    
    .services-main-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        justify-items: center;
        align-items: center;
        width: 100%;
    }

    .aboutMe p {
        display: block;
        text-align: center;
        font-size: 1.5rem; 
        width: 100%;
        margin: auto;
        line-height: 1.5;
    }

    .footer-logo img {
        width: 300px;
        margin-bottom: 20px;
    }
}

/* Medium devices (tablets) */
@media (min-width: 820px) and (max-width: 1180px) {
    .content {
        padding: 0 15px;
    }
    
    .navBar {
        padding: 15px;
    }
    
    .nav-links {
        flex-direction: row;
        align-items: center;
    }
    
    .service-main {
        flex: 1 0 45%;
        margin: 10px;
    }
    
    .footer-logo img {
        width: 300px;
    }
    
    .off-screen-menu {
        display: none;
    }
    
    .mobile-navBar {
        display: none;
    }
}

/* Large devices (desktops) */
@media (min-width: 1181px) {
    .content {
        padding: 0 20px;
    }
    
    .navBar {
        padding: 20px;
    }
    
    .nav-links {
        flex-direction: row;
        align-items: center;
    }
    
    .service-main {
        flex: 1 0 21%;
        margin: 10px;
    }
    
    .footer-logo img {
        width: 500px;
    }
    
    .off-screen-menu {
        display: none;
    }
    
    .mobile-navBar {
        display: none;
    }
}
