:root {
  --font-primary: "Pathway Gothic One", sans-serif;
  --font-secondary: "Outfit", sans-serif;
  --font-special: "Indie Flower", cursive;
  
  --color-bg: #ffffff;
  --color-primary: #3c857f;
  --color-secondary: #566453;
  --color-white: #faf7f0;
  --color-black: #242424;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-bg);
}

.hero {
  position: relative;
  background: url('assets/LSHero.png') center/cover no-repeat;
  padding: 2rem;
  text-align: center;
  min-height: 60vh;
  margin-bottom: 5vh;
}

.navbar {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.navbar li {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
}

.navbar a {
  text-decoration: none;
  color: var(--color-primary);
  padding: 0.5rem 1rem;
}

.navbar a:hover,
.navbar a.active-page {
  border-bottom: 2px solid var(--color-primary);
}

.logo {
  width: 50px;
}

.hero-text {
  font-family: var(--font-special);
  font-size: 2.5rem;
  color: var(--color-primary);
  text-align: center;
  margin-top: 4vh;
}

.tagline {
  margin: 5%;
  text-align: center;
  font-family: var(--font-secondary);
  font-weight: 400;
  color: var(--color-primary);
}

.icon {
  text-align: center;
}

.main-content {
  margin: 5%;
}

.card {
  padding: 5%;
}

.card-title {
  font-family: var(--font-primary);
  font-size: 2rem;
  color: var(--color-primary);
  text-align: center;
  margin-bottom: 3vh;
}

.card-text {
  font-family: var(--font-secondary);
  color: var(--color-black);
  text-align: center;
}

section {
  display: flex;
}

article {
  flex: 1;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-secondary);
}

footer div {
  flex: 1;
  font-family: var(--font-secondary);
  color: var(--color-white);
  text-align: center;
}

footer img {
  margin: 3vh auto;
  width: 100px;
}

.copyright {
  font-family: var(--font-secondary);
  font-size: 0.75rem;
  color: var(--color-white);
  margin-bottom: 3vh;
}