:root {
  --slate-900: #1F314F;
  --salte-500: #68778D;
  --slate-300: #D5E1EF;
  --white: #FFFFFF;
}

html {
  background-color: var(--slate-300);
  font-family: "Outfit", sans-serif;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  background-color: var(--white);
  max-width: 320px;
  border-radius: 20px;
  box-shadow: 0 25px 25px 0 hsl(0, 0%, 0%, 0.0477);
}

.qr-code {
  padding: 16px 16px 24px 16px;
}

.qr-img {
  border-radius: 10px;
}

.text {
  padding: 0 16px 40px 16px;
}

.header {
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0;
  text-align: center;
  color: var(--slate-900);
  padding: 0 16px 16px 16px;
}

.bodytext {
  font-size: 15px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.2px;
  text-align: center;
  color: var(--salte-500);
  padding: 0 16px;
}

@media (max-width: 640px) {

}
@media (max-width: 768px) {

}

@media (max-width: 1024px) {

}

@media (min-width: 1025px) {

}