:root {
  /* Colors */
  --black: #1C232B;
  --grey: #6C7289;
  --cream: #F2EAE2;
  --white: #FFFFFF;
  --green-500: #3D8168;
  --green-700: #1A4032;
  
  /* Spacing */
  --spacing-400: 2rem; /* 32px */
  --spacing-300: 1.5rem; /* 24px */
  --spacing-200: 1rem; /* 16px */
  --spacing-100: 0.5rem; /* 8px */
}

.text-preset-1 {
  font: 700 2rem/100% "Fraunces", sans-serif;
}

.text-preset-2 {
  font: 700 0.875rem/110% "Montserrat", sans-serif;
  color: var(--white);
}

.text-preset-3 {
  font: 500 0.875rem/160% "Montserrat", sans-serif;
  color: var(--grey);
}

.text-preset-4 {
  font: 500 0.75rem/120% "Montserrat", sans-serif;
  color: var(--grey);
  text-transform: uppercase;
  letter-spacing: 0.3125rem;
}

.text-preset-5 {
  font: 500 0.8125rem/120% "Montserrat", sans-serif;
  text-decoration: line-through;
  color: var(--grey);
}

body {
  background-color: var(--cream);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--white);
  border-radius: var(--spacing-100);
  max-width: 37.5rem;
  margin: 1rem;
}

.image-product-desktop {
  border-radius: var(--spacing-100) 0 0 var(--spacing-100);
  height: 100%;
  object-fit: cover;
}

.image-product-mobile {
  display: none;
}

.content {
  display: grid;
  gap: var(--spacing-400);
  padding: var(--spacing-400);
}

.product {
  display: grid;
  gap: var(--spacing-300);
}

.price {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: fit-content;
}

.current-price {
  color: var(--green-500);
}

.previous-price {
  margin-left: var(--spacing-200);
}

.add-to-cart-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-100);
  background-color: var(--green-500);
  border: none;
  border-radius: var(--spacing-100);
  width: 100%;
  padding: var(--spacing-200) 0;
  cursor: pointer;
}

.add-to-cart-button:hover {
  background-color: var(--green-700);
}

.add-to-cart-button:focus-visible {
  outline: 3px solid var(--green-700);
  outline-offset: 2px;
}

.add-to-cart-button img {
  width: 18px;
  height: 18px;
}

@media (max-width: 632px) {
  .card {
    grid-template-columns: 1fr;
    width: 350px;
  }
  
  .image-product-desktop {
    display: none;
  }
  
  .image-product-mobile {
    display: block;
    border-radius: var(--spacing-100) var(--spacing-100) 0 0;
    width: 350px;
  }
}